
@{
    ViewBag.Title = "Setting Unit";
}

<input type="hidden" id="hd_path" value="@ViewBag.path" />
<input type="hidden" id="hd_district" value="@Session["District"]" />
<input type="hidden" id="hd_userLogin" value="@Session["Nrp"]" />
<input type="hidden" id="hd_idProfile" value="@Session["IdProfile"]" />

<div id="form_main">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Setting Unit</h3>
            @*<div class="block-options">
                    <button type="button" class="btn-block-option">
                        <i class="si si-settings"></i>
                    </button>
                </div>*@
        </div>
        <div class="block-content">
            <div class="row justify-content-center py-sm-3 py-md-5">

                @*List Pekerjaan*@
                <div class="row mb-4">
                    <div class="col-md-3">
                        <label class="form-label">Pekerjaan</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="txt_pekerjaan" style="width:100%" />
                    </div>
                </div>

                @*List Seam*@
                <div class="row mb-4">
                    <div class="col-md-3">
                        <label class="form-label">Seam</label>
                    </div>
                    <div class="col-md-9">
                        @*<select type="text" class="form-select" id="txt_seam"></select>*@
                        <input type="text" class="k-dropdown" id="txt_seam" style="width:100%" />
                    </div>
                </div>

                @*Volume*@
                <div class="row mb-4">
                    <div class="col-md-3">
                        <label class="form-label">Volume</label>
                    </div>
                    <div class="col-md-9">
                        <input type="number" class="form-control" id="txt_volume" onkeyup="setEstimasiJamKerja()" />
                    </div>
                </div>

                @*Rekomendasi Alat*@
                <div class="row mb-4">
                    <div class="col-md-3">
                        <label class="form-label">Rekomendasi Alat</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="txt_rekomendasiAlat" readonly="readonly" />
                        <input type="hidden" id="hd_rekomendasiAlat" />
                    </div>
                </div>

                @*Estimasi Jam Kerja*@
                <div class="row mb-4">
                    <div class="col-md-3">
                        <label class="form-label">Start Jam Kerja</label>
                    </div>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control" id="txt_startJamKerja" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3">
                        <label class="form-label">Estimasi Jam Kerja</label>
                    </div>
                    <div class="col-md-9 row">
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="txt_estimasi_h" placeholder="Hour" readonly="readonly" />
                        </div>
                        <div class="col-md-1">
                            <label class="form-label">H</label>
                        </div>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="txt_estimasi_m" placeholder="Minute" readonly="readonly" />
                        </div>
                        <div class="col-md-1">
                            <label class="form-label">M</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="block-content block-content-full">
                @*<table class="table table-bordered table-striped table-vcenter js-dataTable-responsive" id="tbl_opt"></table>*@
                <div id="grid"></div>
            </div>
        </div>
        <div class="block-content block-content-full block-content-sm bg-body-light text-end">
            @*<button type="reset" class="btn btn-alt-secondary">
                    <i class="fa fa-sync-alt opacity-50 me-1"></i> Reset
                </button>*@
            <button type="submit" class="btn btn-alt-primary" onclick="submmit()">
                <i class="fa fa-check opacity-50 me-1"></i> Submit Operator
            </button>
        </div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="tmp_check">
    #if(STATUS_AVALIABLE == 0){#
        <center><input type="checkbox" id="#=NRP#_CHECK" name="PILIH_OP" disabled="disabled"></center>
    #} else{#
        <center><input type="checkbox" id="#=NRP#_CHECK" name="PILIH_OP"></center>
    #}#
</script>
@*<script type="text/x-kendo-template" id="quantity-tmplt">
        <div>#= kendo.toString(AVG_AP, "0.00") #</div>
    </script>*@
<script src="~/Js/SettingUnit.Index.js"></script>