
@{
    ViewBag.Title = "Get";
}

<input type="hidden" id="hd_path" value="@ViewBag.path" />

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

<div class="container">
    <h2>Pekerjaan</h2>

    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Pekerjaan")'">Create</button>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Create
      </button>*@

    @* Modal Create *@
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Pekerjaan</h4>
                </div>

                <div class="modal-body">
                    <form method="post">
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Pekerjaan</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="nama_pekerjaan" id="nama_pekerjaan">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="create();">Submit</button>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <table id="example" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Pekerjaan</th>
            </tr>
        </thead>

        <tbody id="getBody">
            <tr>
            </tr>
        </tbody>

    </table>
</div>

<!-- Striped Table -->
@*<div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Striped Table</h3>
            <div class="block-options">
                <div class="block-options-item">
                    <code>.table-striped</code>
                </div>
            </div>
        </div>
        <div class="block-content">
            <table class="table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 50px;"></th>
                        <th>Name</th>
                        <th class="d-none d-sm-table-cell" style="width: 15%;">Access</th>
                        <th class="text-center" style="width: 100px;">Actions</th>
                    </tr>
                </thead>

                <tbody id="getBody">
                    <tr>
                        <th class="text-center" scope="row">1</th>
                        <td>Justin Hunt</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge bg-info">Business</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Delete">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">2</th>
                        <td>Justin Hunt</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge bg-primary">Personal</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Delete">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">3</th>
                        <td>Melissa Rice</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge bg-primary">Personal</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Delete">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">4</th>
                        <td>Lori Grant</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge bg-info">Business</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Delete">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">5</th>
                        <td>Jeffrey Shaw</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge bg-primary">Personal</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Delete">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">6</th>
                        <td>Alice Moore</td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge bg-danger">Disabled</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" title="Delete">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@
<!-- END Striped Table -->

<script src="~/Js/GuideMaster/getpekerjaan.js"></script>