
@{
    ViewBag.Title = "Rating Operator";
}

<input type="hidden" id="hd_path" value="@ViewBag.path" />

<div id="form_main">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Rating Operator</h3>
        </div>
        <div class="block-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

<script src="~/Js/RatingOperator.Index.js"></script>